<configuration>
   <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET,POST,DELETE,HEAD,PUT,OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Origin, X-Olaround-Debug-Mode, Authorization, Accept" />
                <add name="Access-Control-Expose-Headers" value="X-Olaround-Debug-Mode, X-Olaround-Request-Start-Timestamp, X-Olaround-Request-End-Timestamp, X-Olaround-Request-Time, X-Olaround-Request-Method, X-Olaround-Request-Result, X-Olaround-Request-Endpoint" />
            </customHeaders>
        </httpProtocol>
      <staticContent>
	<clear />
         <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
	 <mimeMap fileExtension=".ttf" mimeType="application/x-font-truetype" />
	 <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
	 <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
	 <mimeMap fileExtension=".js" mimeType="application/javascript" />
	 <mimeMap fileExtension=".css" mimeType="text/css" />
	 <mimeMap fileExtension=".pdf" mimeType="application/octet-stream" />
	 <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
	 <mimeMap fileExtension=".png" mimeType="image/png" />
	 <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
	 <mimeMap fileExtension=".html" mimeType="text/html" />
      </staticContent>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="index.asp" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
   </system.webServer>
</configuration>