html {
    margin: 0;
    padding: 0;
}

body {
	width:100%;
	margin:0 auto;
	padding:0;
}

a {
	color: #000000;
	text-decoration: none !important;
}
a:hover {
	color: #000000 !important;
}
a:visited {
	color: #1a1e86;
}
u {
	text-decoration: none;
}
.test-mode {
	background-color: #ffeded;
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	color: red;
    display: none;
}

#voordelen { 
    width: 100%;
    background: #662482;
    text-align: center;
    color: #fff;
	height:28px;
	vertical-align:central;
}

#voordelencontainer { 
    width: 80%;
    text-align: center;
	margin:0 auto;
}

.voordelenlos { 
    width: 20%;
    text-align: center;
    color: #fff;
	float:left;
}


.maincontent {
	font-size: 10pt;
	width: 80%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	min-height: 100px;
}
.maincontent #columns {
	display: table;
	width: 100%;
}
.maincontent #columns .main-column-left {
	display: table-cell;
	vertical-align: top;
	width: 25%;
	min-height: 100px;
	background-color: #094CA6;
}
.maincontent #columns .main-column-right {
	display: table-cell;
	vertical-align: top;
	min-height: 100px;
	width: 75%;
	background-color: #9120CB;
}
.maincontent #columns .main-column-right .usercontent {
	text-align: justify;
	padding-bottom: 10px;
}

.maincontent #columns .main-column-right .container {
	width: 100%;
	margin: 0;
	float: left;
	background-color: #B3DC19;
}
.maincontent #columns .main-column-right .container .product {
	background: none !important;
	min-height: 255px;
	max-height: 275px;
	margin-right: 10px !important;
	float: left;
	border: 1px solid black;
}
.maincontent #columns .main-column-right .container .product:hover {
	border: 2px solid #707070;
}
.maincontent #columns .main-column-right .container .product .number {
	font-weight: 100 !important;
	overflow: visible !important;
	white-space: normal !important;
}
.maincontent #columns .main-column-right .container .product a {
	font-weight: bold;
	font-size: 10px;
}
.maincontent #columns .main-column-right .container .product a:visited {
	color: #0066ee;
}
.maincontent #columns .main-column-right .container .product a .title {
	height: 50px;
	width: 182px;
	font-size: 12px;
	min-height: 50px !important;
}
.maincontent #columns .main-column-right .container .product.hover .details {
	display: none;
}
.maincontent #columns .main-column-right .container .product .details {
	position: relative;
	width: 184px;
	height: 26px;
	margin: 6px 0 0 4px;
	display: none;
}
.maincontent #columns .main-column-right .container .product .detail {
	border: 2px solid black;
}
.maincontent #columns .main-column-right .container a {
	float: left;
	margin-right: 15px;
	margin-left: 0;
}
.maincontent #columns .main-column-right .container a .path {
	width: 405px;
	height: 188px;
}
.maincontent #columns .main-column-right .usercontent.below {
	margin-bottom: 50px;
	padding-right: 20px;
	float: left;
}
.maincontent #columns .main-column-right .template-content {
	float: left;
}
.maincontent.hasmenu .content {
	width: 100%;
	margin-left: 30px;
	padding-left: 0;
}
.maincontent .topmenu {
	background-color: #e45e61;
	margin-bottom: 20px;
}
.maincontent .topmenu nav {
	border: 2px solid black;
	font-weight: bold;
	font-size: 15px;
}
.maincontent .topmenu nav li {
	list-style-type: none;
	margin: 0;
	display: inline-block;
}
.maincontent .topmenu nav li a {
	text-decoration: none;
	padding-left: 26px;
	padding-right: 26px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.maincontent .menucontent {
	margin-left: 10px;
}
.maincontent .menucontent nav {
	background-color: #000;
	display: inline-block;
	margin-right: 10px;
	vertical-align: top;
	width: 96%;
}
#header {
	width: 80%;
	margin: auto;
	background-color: #844C05;
}
#bottommenu {
	width: 80%;
	margin: auto;
	background-color: #844C05;
}
#bottommenu nav {
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: bold;
	font-size: 15px;
	background-color: #2804BC;
}
#bottommenu nav li {
	list-style-type: none;
	margin: 0;
	display: inline-block;
}
#bottommenu nav li a {
	text-decoration: none;
	padding-left: 26px;
	padding-right: 26px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.main-part1 {
	height: 250px;
	overflow: hidden;
}
#slider {
	display: inline-block;
	background: #ccc;
	width: 60%;
	margin-right: 1%;
	vertical-align: top;
}
#slider img {
	width: 100%;
	max-height: 100%;
}
#slider-menu {
	display: inline-block;
	background: #ccc;
	width: 38%;
	height: 100%;
}
#slider-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 250px;
}
#slider-menu ul li {
	margin-top: 3%;
	background: #ff0000;
	text-align: center;
	color: #fff;
	height: 31%;
}
#slider-menu ul li:first-child {
	margin-top: 0;
}
#vijfbox {
	list-style: none;
	margin: 0;
	padding: 0;
}
#vijfbox li {
	margin: 0;
	display: inline-block;
	background: #000;
	width: 19%;
	margin-right: 1%;
	overflow: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #000;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}
#vijfbox li img {
	width: 100%;
}
#vierbox {
	list-style: none;
	margin: 0;
	padding: 0;
}
#vierbox li {
	margin: 0;
	display: inline-block;
	background: #000;
	width: 24%;
	margin-right: 1%;
	overflow: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #000;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}
#vierbox li img {
	width: 100%;
}
#meestverkocht {
	list-style: none;
	margin: 0;
	padding: 0;
}
#meestverkocht li {
	margin: 0;
	display: inline-block;
	width: 19%;
	margin-right: 1%;
	border: 1px solid #ccc;
	overflow-x: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height: 200px;
}
#meestverkocht li img {
	width: 100%;
}
#meestverkocht li .caption {
	padding-right: 5%;
	padding-left: 5%;
}
#meestverkocht li .caption .price {
	font-weight: bold;
	font-size: 1.2em;
}
#vijftigprocent-1 {
	display: inline-block;
	width: 49%;
	margin-right: 1%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #ccc;
}
#vijftigprocent-1 img {
	width: 100%;
}
#vijftigprocent-2 {
	display: inline-block;
	width: 49%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #ccc;
}
#vijftigprocent-2 img {
	width: 100%;
}
#vijftigprocent-1 .caption, #vijftigprocent-2 .caption {
	text-align: center;
}
.header_1 {
	clear: both;
}
.header_1 .header_logo {
	float: left;
	width: 33%;
	box-sizing: border-box;
	padding: 20px;
}
.header_1 .header_tekst {
	float: left;
	width: 33%;
	box-sizing: border-box;
	padding: 20px;
}
.header_1 .header_cart {
	float: left;
	width: 33%;
	box-sizing: border-box;
	padding: 20px;
	border: 1px solid;
}
.header_2 {
	clear: both;
}
.header_2 #teaser_menu {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: 20px;
}
.header_2 #teaser_menu li {
	display: inline-block;
	margin-right: 20px;
	text-align: center;
	border: 1px solid;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#footer {
	padding: 0 !important;
	width: 80% !important;
	margin: auto;
	background-color: #26C70C;
}
#footer .content #footer {
	border: 2px solid black;
	padding: 1% 0 0 !important;
	width: 100% !important;
	margin: auto;
}
#footer2 {
	padding: 1% 0 0 !important;
	width: 80% !important;
	margin: auto;
}
.footer_column {
	float: left;
	width: 20%;
	font-size: 1.1em;
}
.footer_column h4 {
	margin: 0;
	font-size: 1.1em;
	margin-bottom: 10px;
}
.footer_column ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer_column ul li {
	padding-top: 3px;
	padding-bottom: 3px;
}
.footer_column.logo {
	text-align: center;
}
.footer_column.logo .company {
	font-size: 1.2em;
}
.footer_seperator {
	height: 15px;
}
#footer2 ul {
	list-style: none;
	float: right;
}
#footer2 ul li {
	display: inline-block;
	margin-left: 40px;
}

@media (max-width: 800px) {
	.maincontent, #header, #bottommenu, #footer, #footer2, #footer .content #footer {
		width:95% !important;
	}
	
	.maincontent #columns .main-column-left {
		width: 100% !important;
		float: left;
	}
	.maincontent #columns .main-column-right {
		width: 100% !important;
		float: left;
	}
	.maincontent #columns .main-column-right {
		min-height: 100px !important;
		padding-left: 0 !important;
		vertical-align: top;
		width: 100% !important;
	}
	#vijfbox li, #vierbox li {
		width:49%;
	}
	#slider-menu, #meestverkocht li, #vijftigprocent-2 {
		width:100%;
	}
	#slider {
		width:100%;
		margin-bottom:20px;
	}		
	#vijftigprocent-1 {
		width:100%;
		margin-right:0;
	}
	.main-part1 {
		height: auto;
		overflow: hidden;
	}
    
    .header_logo { 
        width: 100% !important;
    }
    
    .header_tekst { 
        width: 100% !important;
    }
    
    .header_cart { 
        width: 100% !important;
    }
    
    #footer .footer_column { 
        width: 100% !important;
        text-align: center !important;
        margin-bottom: 10px !important;
    }
    
    .footer2_column { 
        text-align: center !important;
    }
    
    #footer2 ul li:first-child { 
        margin-left: 0px !important;
    }
}