// kleur van randen
@color-border: black;

// dondere font kleur
@color-front-dark: #565656;

//link kleur tekst
@color-link: #06e;
//hover link kleur tekst
@color-link-hover: #06e;
//visited link kleur tekst
@color-link-visited: #1A1E86;


//basis breedte
@width-base: 200px;

//offset breedte
@offset-base: 10px;

//totale breedte van de pagina
@width-page: 6*@offset-base + 5*@width-base;

//totale breedte van de brede baner
@width-category-banner-large: 3*@offset-base + 4*@width-base;

//spav
@width-window: @width-page + 2*@offset-base;

@height-product-container: 275px;


a {
    color: @color-link;
    &:hover {
        color: @color-link-hover !important;
    }
    &:visited {
        color: @color-link-visited;
    }
}
u{
  text-decoration: none;
}

.test-mode {
	padding: 10px;
	border: solid 1px #ffacac;
	background-color: #ffeded;
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	color: red;
}

.maincontent {
    font-size: 10pt;
    width: @width-page;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 500px;
    border: solid 2px @color-border;
    padding-bottom: 30px;

    #columns {
        display: table;
      

        .main-column-left {
            display: table-cell;
            vertical-align: top;
            width: @width-base + @offset-base;
            min-height: 500px;

            
        }

        .main-column-right {
            padding-left: @offset-base;
            display: table-cell;
            vertical-align: top;
            min-height: 500px;
            width: 4*@width-base + 4*@offset-base;
            border: 1px solid @color-border;  
            
            .usercontent {
                text-align: justify;

                padding-bottom: 10px;
            }

            .usercontent.above {
                img {
                    max-width: @width-category-banner-large;
                }
            }

            .container {
                width: 4*@width-base + 4*@offset-base;
                margin: 0;
                float:left;


                .product {
                    background: none !important;
                    min-height: @height-product-container - 20px;
                    max-height: @height-product-container;
                    margin-right:10px !important;
                    float:left;
                    border: 1px solid @color-border;                    

                    &:hover {
                        border: 2px solid #707070;
                    }

 
                    .number {
                        font-weight: 100 !important;
                        overflow:visible !important; 
                        white-space:normal !important;
                    }


                    a {
                        font-weight: bold;
                        font-size:10px;

                        &:visited {
                            color: @color-link;
                        }

                        .title {
                            height: 50px;
                            width:182px;
                            font-size: 12px;
                            min-height:50px !important;
                        }
                    }

                    &.hover .details {
                        display: none;
                    }

                    .details {
                        position: relative;
                      
                        width: 184px;
                        height: 26px;
                        margin: 6px 0 0 4px;
                        display: none;
                    }

                    .detail {
                         border: 2px solid @color-border;      
                    }
                }

                a {
                    float:left;
                    margin-right: 15px;
                    margin-left: 0;

                    .path {
                        width: 405px;
                        height: 188px;
                    }
                }
            }

            .usercontent.below {
                margin-bottom: 50px;
                padding-right: 20px;
                float:left;
            }

            .template-content {
                float:left;
            }
        }
    }

    &.hasmenu {

        .content {
            width: 858px;
            margin-left: 30px;
            padding-left: 0;
        }
    }



    .topmenu {
        padding: @offset-base;
        margin-bottom: 10px;
        margin-top: 5px;

        nav {
            border: 2px solid @color-border;
            padding-top: 8px;
            padding-bottom: 8px;
            font-weight: bold;
            font-size: 15px;
            li {


                list-style-type: none;
                margin: 0;
                display: inline-block;
                a {
                    text-decoration: none;
                    padding-left: 26px;
                    padding-right: 26px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }
        }
    }

   .menucontent {
        margin-left: @offset-base;

        nav {
            border: 2px solid @color-border;
            display: inline-block;
            vertical-align: top;
            width: @width-base - 10px;
            margin-right: 10px;

           
        }
    }

}

#footer {
    width: @width-page;
    height: 50px;
    margin: auto;
    margin-top: 50px;
    border: 2px solid @color-border;
    padding: 5px 0 0 0;

 }

#header {
    width: @width-page;
    height: 50px;
    margin: auto;
    border: 2px solid @color-border;
    padding: 5px 0 0 0;

}

#bottommenu {
    padding: @offset-base;
    margin-bottom: 10px;
    margin-top: 5px;

    nav {
        border: 2px solid @color-border;
        padding-top: 8px;
        padding-bottom: 8px;
        font-weight: bold;
        font-size: 15px;
        li {

            list-style-type: none;
            margin: 0;
            display: inline-block;
            a {
                text-decoration: none;
                padding-left: 26px;
                padding-right: 26px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }
}



